.card {
  position: relative;
  width: 350px;
  height: 420px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 340px;
  height: 410px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--blob-color);
  opacity: 1;
  background-color: var(--blob-color);
  box-shadow: 0 0 80px 40px var(--blob-color);
  animation: blob-bounce 3s infinite ease-in-out,
    blob-glow 2s infinite alternate ease-in-out;
}

/* Smooth Glowing Effect */
@keyframes blob-glow {
  0% {
    box-shadow: 0 0 20px 10px rgba(--blob-color);
  }
  100% {
    box-shadow: 0 0 80px 40px rgba(--blob-color);
  }
}

/* Fluid Blob Movement */
@keyframes blob-bounce {
  0% {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
  25% {
    transform: translate(-50%, -50%) translate3d(150px, -100px, 0);
  }
  50% {
    transform: translate(-50%, -50%) translate3d(120px, 180px, 0);
  }
  75% {
    transform: translate(-50%, -50%) translate3d(-140px, 150px, 0);
  }
  100% {
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }
}

@media (max-width: 768px) {
  .card {
    width: 270px;
    height: 430px;
  }
  .bg {
    width: 260px;
    height: 420px;
  }
}
