@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
.dm-sans {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
